.side-panel {
  display: flex;
  width: 100px;
  flex-direction: column;
  background-color: white;
  /* border: 1px solid black; */
  position: fixed;
  top: 60px;
  left: 0;
  height: 100%;
  z-index: 100;
}

.side-bar {
  height: 76px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.side-bar:hover {
  background-color: rgb(232, 232, 232);
}

.side-bar img {
  height: 32px;
}

.side-bar div {
  margin-top: 2px;
  font-family: Roboto, arial;
  font-weight: 500;
  font-size: 12px;
}
